{% extends 'base.html' %} {% include 'nav.html' %}{% block title %}<title>
  Delete
</title>
{% endblock %} {% block body %}

<div class="container-delete">
  <form class="form-delete" action="" method="post">
    <table class="table">
      <p class="confirm-msg">
        Are You Sure To Delete {% if product %} {{product.product_name}} {%
        endif %} {% if location %} {{location.location_name}} {% endif %} {% if
        movement %}{{movement.product}} From {% if not movement.from_location %}
        From shipping {% else %} {{movement.from_location}} {% endif %} To {%if
        not movement.to_location %} Out of Stock {% else %}
        {{movement.to_location}} {% endif %}{% endif %}
      </p>
      <div class="button-container">
        <td>
          <button
            type="button"
            onclick="goBackOrRedirect() "
            class="btn btn-not"
          >
            Cancel
          </button>
        </td>
        <td>
          <button type="submit" name="submit" value="submit" class="btn">
            Yes
          </button>
        </td>
      </div>
    </table>
  </form>
</div>
{% endblock %}
