{% extends 'base.html' %} {% include 'nav.html' %} {% block title %}
<title>
  {% if movement %}Edit Product Movement{% else %}Add Product Movement{% endif
  %}
</title>
{% endblock %} {% block body %}
<div class="container">
  <form action="" method="POST">
    <table class="table">
      <tr>
        <td>From</td>
        <td>
          <select name="from" class="form-control">
            <option value="">Choose a City</option>
            {% if movement %}
            <option selected value="{{movement.from_location.location_id}}">
              {{movement.from_location.location_name}}
            </option>
            {% endif %} {% for location in locations %}
            <option value="{{location.location_id}}">
              {{location.location_name}}
            </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>To</td>
        <td>
          <select name="to" class="form-control">
            <option value="">Choose a City</option>
            {% if movement %}
            <option selected value="{{movement.to_location.location_id}}">
              {{movement.to_location.location_name}}
            </option>
            {% endif %} {% for location in locations %}
            <option value="{{location.location_id}}">
              {{location.location_name}}
            </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Product</td>
        <td>
          <select name="product" class="form-control" required>
            <option disabled value="">Choose a Product</option>
            {% if movement %}
            <option selected value="{{movement.product.product_id}}">
              {{movement.product.product_name}}
            </option>
            {% endif %} {% for product in products %}
            <option value="{{product.product_id}}">
              {{product.product_name}}
            </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td>Qty</td>
        <td>
          <input
            type="number"
            name="qty"
            value="{% if movement %}{{movement.qty}}{% endif %}"
            class="form-control"
            required
          />
        </td>
      </tr>
      <div class="button-container">
        <td>
          <button
            type="button"
            onclick="goBackOrRedirect()"
            class="btn btn-not"
          >
            Cancel
          </button>
        </td>
        <td>
          <button type="submit" name="submit" value="submit" class="btn">
            {% if movement %}Update{% else %}Submit{% endif %}
          </button>
        </td>
      </div>
    </table>
  </form>
</div>
{% endblock %}
